<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Streaming Tweets Dashboard</title>

    <link href="stylesheets/style.css" rel="stylesheet">


  </head>

  <body class="intro">

    <div class="container-fluid">
      <div class="centered">
        <h1>Twitter Dash</h1>
        <form method="get" action='/search'>
        <input name="hashtag" class="input-lg col-md-12" placeholder="Enter your #hashtag to begin streaming"></input>
        </form>
      </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="javascript/lib/bootstrap.js"></script>
    
  </body>
</html>
