@import "lib/bootstrap/bootstrap.less";
@import "lib/dashboard.less";
.intro {
  background: #333;
  text-align: center;
}

.intro, .intro h1 {
  color: #fff;
  font-weight: 100;
}

.intro input {
  color: #333;
}

.sidebar h3 {
  font-size: 1.0em;
}

.tweet.jumbotron {
  padding: 12px 20px;
}
.tweet.jumbotron h2 {
  font-size: 1.4em;
}

.tweet.jumbotron p {
  font-size: 1.0em;
}

.centered {
  margin: 0 auto;
  width: 50%;
  
}
